#create new variable new_comment using jQuery that returned not a js code, but ruby,
#and hide this from view on the desk
var new_comment = $("<%= escape_javascript(render(:partial=>@comment))%>").hide();
#do div
$('#comments').prepend(new_comment);
#animation effect
$('#comment_<%= @comment.id %>').fadeIn('slow');
#reset the comment in form
$('#new_comment')[0].reset();
